@charset "utf-8";

.main
{
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 20%;
    padding-right: 20%;
}

h1
{
    text-align: center;
}

form
{
    margin-left: 20%;
    margin-top: 3%;
}